@page "/doacao/consulta/{id}"
@using Operacao.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavManager
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage

<h3>Consulta Doações</h3>
<hr />

<button class="btn btn-success" @onclick="Finalizar" style="margin-bottom: 10px;">Finalizar</button>

<table class="table">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Recibo</th>
            <th>Valor</th>
            <th>Vencimento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Parcela parcela in parcelas)
        {
            <tr>
                <td>@parcela.ContribuinteId</td>
                <td>@parcela.Id</td>
                <td>@parcela.Valor.ToString("C2")</td>
                <td>@parcela.DtVencimento.ToShortDateString()</td>
                <td><button class="btn btn-primary" @onclick="() => Editar(parcela.ContribuinteId,parcela.Id,parcela.DtVencimento,parcela.Valor)">Editar</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string Id { get; set; }

    List<Parcela> parcelas = new List<Parcela>();
    Parcela parcela = new Parcela();
    bool modal = false;


    protected override async Task OnInitializedAsync()
    {
        parcelas = await Http.GetFromJsonAsync<List<Parcela>>("api/parcela/buscarHoje/" + Id);
    }

    void Editar(int id, int idParcela, DateTime dtVcto, double valor)
    {
        NavManager.NavigateTo("/doacao/editar/" + id + "/" + idParcela + "/" + dtVcto.ToString("yyyy-MM-dd") + "/" + valor);
    }

    void Finalizar()
    {
        NavManager.NavigateTo("/doadNovo/index/");
    }

}
