@page "/doacao/editar/{id}/{idParcela}/{dtVcto}/{vlr}"
@using Operacao.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavManager
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage

<h3>Editar</h3>
<hr>

<button class="btn btn-link" @onclick="Voltar">Voltar</button>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-danger" role="alert">
        @message
    </div>
}

<div class="card" style="width:400px;">
    <div class="card-body">
        <form method="post" @onsubmit="@Submit">
            <div class="form-row">
                <div class="col d-lg-flex align-items-lg-center">
                    <label style="width:150px;margin-right:10px;">Recibo</label>
                    <input type="text" class="form-control" readonly @bind="Id" />
                </div>
            </div>
            <div class="form-row" style="margin-top:10px">
                <div class="col d-lg-flex align-items-lg-center">
                    <label style="width:150px;margin-right:10px;">Data Vcto.</label>
                    <input type="date" class="form-control" @bind-value="parcela.DtVencimento" min="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                </div>
            </div>
            <div class="form-row" style="margin-top:10px">
                <div class="col d-lg-flex align-items-lg-center">
                    <label style="width:150px; margin-right: 10px;">Valor</label>
                    <input type="text" class="form-control" @bind-value="parcela.Valor" />
                </div>
            </div>

            <div class="form-row" style="margin-top:10px">
                <div class="col">
                    <button class="btn btn-primary float-right" type="submit">Editar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string IdParcela { get; set; }
    [Parameter]
    public string DtVcto { get; set; }
    [Parameter]
    public string Vlr { get; set; }

    private Parcela parcela;

    string message;


    protected override void OnInitialized()
    {
        parcela = new Parcela
        {
            Id = Convert.ToInt32(IdParcela),
            ContribuinteId = Convert.ToInt32(Id),
            DtVencimento = Convert.ToDateTime(DtVcto),
            Valor = Convert.ToDouble(Vlr),
        };
    }

    void Voltar()
    {
        NavManager.NavigateTo("/doacao/consulta/" + Id);
    }

    private async Task Submit()
    {
        message = "";
        if (parcela.Valor == 0)
        {
            message = "Digite um valor diferente de 0";
            return;
        }

        await Http.PutAsJsonAsync<Parcela>("api/parcela", parcela);
        NavManager.NavigateTo("/doacao/consulta/" + Id);
    }


}
